<footer>
  <div fxLayout="row" fxFlexAlign="space-between">
      <h5 fxLayout="column">Powred by CodeForWork Team Copyright &copy; Summer 2019</h5>
      <ul fxLayout="column">
        <li>Siraj</li>
        <li>Nourhene</li>
        <li>Marwa</li>
       
      </ul>
      <ul fxLayout="column">
         <li>Nessrine</li>
        <li>Sirine</li>
        <li>Sahar</li>
      </ul>
      <ul fxLayout="column">
        <li>Angular Lab</li>
       <li>+ @angular/material</li>
       <li>+ @ @angular/flex-layout</li>
     </ul>
  </div>
</footer>
